{% extends 'base.html.twig' %}

{% block title %}Новый заказ{% endblock %}

{% block body %}
    <h1>Создание нового заказа</h1>

    <div class="container">
    {{ include('invoice/_form.html.twig') }}
    </div>

    <div class="container-fluid">
        <button type="button" class="btn btn-secondary"><a href="{{ path('invoice_index') }}" style="color: black">back to list</a></button>
    </div>
{% endblock %}
