{% form_theme form 'foundation_5_layout.html.twig' %}
{{ form_start(form) }}
    <div class="container-fluid">
        {{ form_widget(form) }}
    </div>

    <button class="btn btn-success"">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
