{% extends 'base.html.twig' %}

{% block title %}Новая категория{% endblock %}

{% block body %}
    <h1>Создание новой категории</h1>

    <div class="container">
        {{ include('category/_form.html.twig') }}
    </div>

    <div class="container-fluid">
        <button type="button" class="btn btn-secondary"><a href="{{ path('category_index') }}" style="color: black">back to list</a></button>
    </div>
{% endblock %}
