{% extends 'base.html.twig' %}

{% block title %}Новый товар{% endblock %}

{% block body %}
    <h1>Создание нового товара</h1>

    <div class="container">
    {{ include('product/_form.html.twig') }}
    </div>

    <div class="container-fluid">
        <button type="button" class="btn btn-secondary"><a href="{{ path('product_index') }}" style="color: black">Back to list</a></button>
    </div>
{% endblock %}
