{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="container-fluid">
     <h1>Создание новой статьи</h1>
    </div>

    <div class="container">
        {{ include('article/_form.html.twig') }}
    </div>

    <div class="container-fluid">
        <button type="button" class="btn btn-secondary"><a href="{{ path('article_index') }}" style="color: black">Back to list</a></button>
    </div>
{% endblock %}
